<!DOCTYPE html>
<html>
  <head>
    <title>bank-app-parser</title>
    <%= csrf_meta_tags %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application.jsx" %>
  </head>
  <body><%= yield %></body>
</html>
